<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>one_user</title>
</head>
<body>
<div th:text="${user.toString()}">user</div>
<br>
<form th:method="Delete" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}">
    <input th:type="submit" value="remove user">
</form>

<p>change User:</p>
<form th:method="PATCH" th:action="@{/change_user}" th:object="${user}">
    <label for="name">name: </label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <label for="email">email: </label>
    <input type="text" th:field="*{email}" id="email">
    <br>
    <label for="age">age: </label>
    <input type="text" th:field="*{age}" id="age">
    <br>
    <label th:hidden="true" for="id">id: </label>
    <input th:hidden="true" type="text" th:field="*{id}" id="id">

    <input type="submit" value="change">
</form>
</body>
</html>

<!--/{id}(id=${user.getId()})-->